Plugins>Excel Functions,		"Add Excel chart from Plot (experimental)",				excel.functions.plugins.AddExcelChartFromPlot
Plugins>Excel Functions,		"Add image to worksheet",								excel.functions.plugins.AddImageToWorksheet
Plugins>Excel Functions,		"Append table as columns",								excel.functions.plugins.AppendTableAsColumns
Plugins>Excel Functions,		"Append table as rows",									excel.functions.plugins.AppendTableAsRows
Plugins>Excel Functions,		"Delete worksheet",										excel.functions.plugins.DeleteWorkbookSheet
Plugins>Excel Functions,		"Import worksheet as table",							excel.functions.plugins.ImportXlsxWorksheetAsTable
Plugins>Excel Functions,		"Save all tables to workbook",							excel.functions.plugins.SaveAllTablesToWorkbook
Plugins>Excel Functions,		"Save table as worksheet",								excel.functions.plugins.SaveTableAsWorksheet
Plugins>Excel Functions,		"Set column data format",								excel.functions.plugins.SetColumnDataFormat
Plugins>Excel Functions,		"-"														null
Plugins>Excel Functions,		"Excel Macro Extensions"								excel.functions.plugins.BioVoxxelMacroExtensions